body {
  background: lightgray;
}
header {
}
.chessboard {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  padding: 30px 30px;
}
.beige {
  background-color: brown;
  font-size: 70px;
}
.brown {
  background-color: beige;
  font-size: 70px;
}
.numbering {
  word-spacing: 115px;
  margin-left: 30px;
}
ol {
  display: table-row;
}
