body {
  background: white;
}
.chessboard {
  width: 800px;
  height: 800px;
  border: 2px solid rgba(58, 20, 20, 0.153);
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
}

.beige {
  width: 100px;
  height: 99px;
  color: beige;
  background-color: brown;
}

.brown {
  width: 100px;
  height: 99px;
  color: brown;
  background-color: beige;
}
