html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: f;
}
#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#side-menu {
  flex: 2;
}
#main {
  flex: 3;
  margin-right: 20%;
}
.page {
  background-color: #ffffff30;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
}
td {
  padding: 4px;
}
th {
  padding: 5px;
}

#job-title {
  color: darkslategrey;
  text-align: left;
  font-size: 20px;
}
header {
  background-image: linear-gradient(
    90deg,
    rgba(127, 219, 180, 0.684) 0%,
    rgba(164, 213, 210, 0.7707457983193278) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
#top-menu-bar {
  text-align: center;
  color: rgb(103, 97, 97);
  margin: 0;
  padding: 2px;
  font-weight: bold;
}
#top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#top-menu-bar a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.5s;
  font-size: 25px;
}
#top-menu-bar a:visited {
  color: rgb(55, 115, 158);
}

#top-menu-bar a.active,
#top-menu-bar a:hover {
  color: #334455;
  background: #fff;
}

.favorite {
  font-weight: bold;
  color: blue;
}
td.favorite {
  font-weight: normal;
}
#content {
  border: 1px solid #334455;
  border-bottom-left-radius: 50px 20px;
}
footer {
  background-image: linear-gradient(
    90deg,
    rgba(127, 219, 180, 0.684) 0%,
    rgba(164, 213, 210, 0.7707457983193278) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-size: 20px;
  color: darkslategray;
  font-weight: bold;
}
