html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: f;
}
#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#side-menu {
  flex: 2;
}
#main {
  flex: 3;
}
.page {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
}
td {
  padding: 4px;
}
th {
  padding: 5px;
}

#job-title {
  background-image: linear-gradient(to right, #00ff00, #008000);
  background-color: azure;
  color: darkslategrey;
  text-align: left;
}
header {
  background-color: #2c96a478;
}
#top-menu-bar {
  text-align: center;
  background-color: linear-gradient(to right #53b655, #0f6f0f);
  color: rgb(103, 97, 97);
  margin: 0;
  padding: 2px;
}
#top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#top-menu-bar a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.5s;
}
#top-menu-bar a:visited {
  color: #fff;
}

#top-menu-bar a.active,
#top-menu-bar a:hover {
  color: #334455;
  background: #fff;
}

.favorite {
  font-weight: bold;
  color: blue;
}
td.favorite {
  font-weight: normal;
}
