html {
  height: 90%;
}
body {
  padding: 100px;
  display: flex;
  flex-direction: column;
}
h1 {
  color: green;
  text-align: center;
}
h {
  font-size: large;
  color: white;
  background-color: green;
  text-align: center;
}
