html {
  height: 90%;
}
body {
  padding: 100px;
  display: flex;
  flex-direction: column;
}
h1 {
  color: green;
  text-align: center;
}
h {
  font-size: large;
  color: white;
  background-color: green;
  text-align: center;
}
.check {
  background-color: lightgrey;
  margin-left: 80px;
}
.text {
  background-color: lightgray;
  font-size: large;
}
div {
  flex: 4;
  display: float;
  position: relative;
  margin-left: 10%;
  padding-bottom: 10px;
}
