html {
  height: 90%;
  background-color: yellowgreen;
}
body {
  padding: 40px;
  flex-direction: column;
  border: 2px solid gray;
  border-style: dotted double;
  width: 75%;
  margin-left: 10%;
  margin-right: 20%;
  background-color: lightgoldenrodyellow;
}
h2,
h3 {
  color: green;
  text-align: center;
  padding-bottom: 20px;
}
.check {
  background-color: lightgrey;
  margin-left: 70px;
  border: 2px solid green;
}
.text {
  background-color: lightgray;
  font-size: large;
  border: 2px solid green;
}
div {
  flex: 12;
  padding-bottom: 20px;
}
.main {
  text-align: center;
}

.scale {
  margin-left: 50%;
}
p {
  padding: 10px;
  color: black;
  margin-right: 5%;
}

td {
  text-align: left;
  padding-right: 50px;
  border-bottom: 2px solid green;
  color: gray;
}
th {
  padding-right: 80px;
}
.choose {
  margin-left: 67%;
  word-spacing: 30px;
}
footer {
  padding: 40px;
  text-align: center;
}
